
<div id="collage">
	
	<div id="background-mask">
		<%= image_tag("blank.png", :width=>800, :height=>50) %>
	</div>
	
	<div id="share-button">
		<%= link_to image_tag("blank.png", :width=>183, :height=>15), {:controller => 'collages', 
			:action => 'share'}, :confirm => 'Sharing your video will take you away from this page.  Do you want to share?' %>	
	</div>
	
	<div id="sound-buttons">
		<% sounds = ['off', 'video', 'nature', 'breathing', 'music-box', 'random'] %>
		<% check = false %>
		<% sounds.each do |sound|%>
			<% if sound == "off" %>
				<% check = true %>
			<% else %>
				<% check = false %>
			<%end%>
			<%= radio_button_tag(
		              "sound", "#{sound}", check,
		              :class => "styled", :onClick => "soundChange('#{sound}');") %>
		    <%= label_tag "sound_#{sound}", image_tag("collage-page/sound-buttons/sound-#{sound}.png", :height=>16) %><br />
		<% end %>
	</div>	
	
	<div id="videos">
		<div id="end-video-image"><%= image_tag("collage-page/end-movie.png") %></div>
		<div id="player"></div>
	</div> <!--videos -->	
	
	<%= render "shared/navigation" %>
	
	<%= form_for(@collage, :remote => true) do |f| %>
	
		<div class="field" id='collage-title'>
		    <%= f.text_field :title, :size => 25, :onclick => 'clickclear(this, "Untitled")', :onblur => 'clickrecall(this, "Untitled")' %>
		  </div>
		  
		  <div class="actions" >
		    <%= image_submit_tag('blank.png', :class => 'collage-submit') %>
		  </div>
		  
		  
			<div id="graves-holder">
				<%= render "shared/graves" %>
			</div>
				
	<% end %>
	
	
	<div id="roller-coaster"><%= image_tag("collage-page/yellowcoaster.png", :width=>126.5, :height=>64.4)  %></div>
	
	<div id="preloaded-background"></div>
	
	
	<div id="sound-element"></div>
	
	<script type="text/javascript">
		
		raiseGraves(); //OnLoad, raise graves.
		
		$(document).ready(function(){
    	     $('#roller-coaster').css('visibility', 'visible');
		});
		
		
		function fadeOut(){
			$('#roller-coaster').css('visibility', 'visibility');
			$('#roller-coaster').animate({
			    opacity: 'toggle',
			  }, Math.floor(Math.random()*1300) + 500, function() {
			    fadeOut();
			  });
		}
		
		fadeOut();
	
		function clickclear(thisfield, defaulttext) {
			if (thisfield.value == defaulttext) {
				thisfield.value = "";
			}
		}
		function clickrecall(thisfield, defaulttext) {
			if (thisfield.value == "") {
				thisfield.value = defaulttext;
			}
		}		

	</script>
</div>
