<div id="single-video">
	<div id="nav">
		<%= render 'shared/navigation' %>
	</div>
	
	<div id="choose-another-vid">
		<%= link_to image_tag("blank.png", :width=>258, :height=>20), collages_path %>
	</div>
	
	<div id="single-videos">
		<div id="end-video-image"><%= image_tag("collage-page/end-movie.png", :width=>290, :height=>160) %></div>
		<div id="player"></div>
	</div> <!--videos -->
	
	<div id="sound-buttons-single">
		<% sounds = ['off', 'video', 'nature', 'breathing', 'music-box', 'random'] %>
		<% check = false %>
		<% sounds.each do |sound|%>
			<% if sound == "off" %>
				<% check = true %>
			<% else %>
				<% check = false %>
			<%end%>
			<%= radio_button_tag(
		              "sound", "#{sound}", check,
		              :class => "styled", :onClick => "soundChange('#{sound}');") %>
		    <%= label_tag "sound_#{sound}", image_tag("collage-page/sound-buttons/sound-#{sound}.png", :height=>18) %><br />
		<% end %>
	</div>	
	
	<div id="sound-element"></div>
	
	<script type="text/javascript">
	
		var player;

		var tag = document.createElement('script');
		tag.src = "http://www.youtube.com/player_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
		
		$('#end-video-image').css('visibility', 'hidden');
		$('#new_collage').css('visibility', 'hidden');
		$('#sound-buttons').css('visibility', 'visible'); 
		$('#collage').css('background-image', "url(../images/collage-page/play-background.png)");  
		lowerGraves();
		stopCoaster();
		
		function onYouTubePlayerAPIReady() {
			player = new YT.Player('player', {
			      height: '160',
			      width: '290',
			      playerVars:{autoplay:1, controls:0},
			      events: {
			      'onReady': onPlayerReady,
			      'onStateChange': onPlayerStateChange,
			      'onError': onPlayerError
			      }
		    });
		}
		  
		function onPlayerReady(event) {
			 if (player) {
			 	player.mute();
			 	player.loadPlaylist('<%= @collage.videos[0..@collage.videos.length].collect{|v| v.title}.join(",") %>', 0, 0, "small");
			    event.target.playVideo();
			  }
		}
		  
		function onPlayerStateChange(event) {
		    if (event.data == YT.PlayerState.ENDED) {
		    	$('#player').css('visibility', 'hidden');  
		    	$('#end-video-image').css('visibility', 'visible');   
		    }
		}
		
		function onPlayerError(event) {
		    player.nextVideo();
		}


	
	</script>
</div>
