<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" id="story-text-field">
    <%= f.text_area :body, :cols=>37, :rows=>17 %>
  </div>
  <div class="actions" >
    <%= image_submit_tag('blank.png', :class => 'story-submit') %>
  </div>
<% end %>
