<%= form_for :user do |f| %>
    <h3>Login</h3>  

  <label for="user_login">Login:</label><br/>
  <%= f.text_field :login, :size => 20 %><br/>

  <label for="user_password">Password:</label><br/>
  <%= f.password_field :password, :size => 20 %><br/>

	<%= f.submit %>


<% end %>

<%= link_to "Back to Site", :controller => 'home', :action => 'poison'%>