<div class="admin">

<% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_#{key}" %>
    <%= content_tag :script, :type => "text/javascript" do -%>
        setTimeout("new Effect.Fade('notice_<%= key %>');", 15000);
    <% end %>
<% end %>

<%= link_to "Back to Site", :controller => 'home', :action => 'poison'%> | <%= link_to "Logout", :controller => 'user', :action => 'logout'%>

	<div id="admin-videos">
		<h2>Videos</h2>
		<% @videos.each do |video| %>
			<%= link_to video.title, "http://www.youtube.com/watch?v=#{video.title}", :target => 'blank'  %> <br /><br />
			<% video.categories.each do |cat| %>
				<%= cat.name.split('_')[0] %>: <%= cat.name.split('_')[1] %><br />
			<% end %><br />
		   	<%= link_to 'Edit Video', edit_video_path(video) %> <br /><br />
		   	<%= button_to 'Delete Video', video, :confirm => 'Are you sure?', :method => :delete %>	
		   	<hr />
		<% end %>
	</div>
	
	<div id="admin-stories">
		<h2>Stories</h2>
		<% @stories.each do |story| %>
			<%= truncate(story.body, :length => 75) %><br /><br />
			<%= link_to "View Story", :controller => "stories", :action => "adminshow", :id => story.id %> <br /><br />
			<%= button_to 'Delete Story', story, :confirm => 'Are you sure?', :method => :delete %>
    		<br /><br /><hr />
		<% end %>
	</div>

</div>
