<!DOCTYPE html>
<head>
  <title>Horror</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "jquery_ujs" %>
  <%= javascript_include_tag "application" %>
	<%= favicon_link_tag 'favicon.ico' %>
	<meta name="csrf-token" content="<%= form_authenticity_token %>" />
	<meta name="csrf-param" content="authenticity_token" />
</head>
<body>
<div id="main">
	<%= yield %>
</div>

</body>
</html>
